{% extends 'base/base.html' %}
{% load static %}

{% block title %}Досвід{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/main/experience.css' %}">
{% endblock %}

{% block content %}

<section id="experience">
  <h2 class="title">Досвід</h2>

  <div class="experience-wrapper">

    <div class="experience-item">
      <div class="dot"></div>
      <h3>Самостійне вивчення Python</h3>
      <p class="time">2024 — тепер</p>
      <p>
        Вивчаю програмування на Python: працюю з масивами, циклами
        та алгоритмічними задачами.
      </p>
    </div>

    <div class="experience-item">
      <div class="dot"></div>
      <h3>Участь у шкільному гуртку інформатики</h3>
      <p class="time">2024 — тепер</p>
      <p>
        Розвиваю технічні навички, допомагаю однокласникам з
        програмуванням та комп'ютерними завданнями.
      </p>
    </div>

    <div class="experience-item">
      <div class="dot"></div>
      <h3>Технічна допомога родині та друзям</h3>
      <p class="time">2023 — тепер</p>
      <p>
        Допомагаю налаштовувати комп'ютери та програми, вирішую
        прості технічні проблеми.
      </p>
    </div>

  </div>
</section>
{% endblock %}