{% extends 'base/base.html' %}
{% load static %}

{% block title %}Мої проекти{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css\main\project.css' %}">
{% endblock %}

{% block content %}
<div class="project-header text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Портфоліо проєктів</h1>
        <p class="lead text-muted">Тут зібрані мої найкращі розробки: від веб-сервісів до ML-моделей.</p>
    </div>
</div>

<div class="container mb-5">
    <div class="row g-4">
        <div class="col-md-6 col-lg-4">
            <div class="card card-project shadow-sm">
                <div class="project-image">
                    <i class="bi bi-cart4" style="font-size: 4rem;"></i>
                    </div>
                <div class="card-body">
                    <div>
                        <span class="tech-badge">Django</span>
                        <span class="tech-badge">PostgreSQL</span>
                        <span class="tech-badge">Stripe</span>
                    </div>
                    <h5 class="card-title fw-bold">E-commerce Platform</h5>
                    <p class="card-text text-muted">Повнофункціональний магазин з кошиком, оплатою та адмін-панеллю для керування товарами.</p>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <a href="#" class="btn btn-dark btn-sm">Детальніше</a>
                        <a href="https://github.com/zefso" class="text-dark"><i class="bi bi-github fs-4"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card card-project shadow-sm">
                <div class="project-image">
                    <i class="bi bi-robot" style="font-size: 4rem;"></i>
                </div>
                <div class="card-body">
                    <div>
                        <span class="tech-badge">Python</span>
                        <span class="tech-badge">NLP</span>
                        <span class="tech-badge">Telegram API</span>
                    </div>
                    <h5 class="card-title fw-bold">AI Telegram Bot</h5>
                    <p class="card-text text-muted">Бот, що використовує нейромережі для аналізу тексту та автоматичних відповідей.</p>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <a href="#" class="btn btn-dark btn-sm">Детальніше</a>
                        <a href="#" class="text-dark"><i class="bi bi-github fs-4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}