.parent {
display: grid;
grid-template-columns: 0.4fr repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 6; }
.div3 { grid-area: 2 / 5 / 5 / 6; }
.div4 { grid-area: 2 / 1 / 5 / 2; }
.div5 { grid-area: 2 / 2 / 5 / 5; }
.div6 { grid-area: 5 / 1 / 6 / 6; }